.missions {

	.sub-title {
		font-size: 19px;
		font-weight: 300;
		line-height: 1.4;
		margin-bottom: 20px;
	}

	.mission-tile {
		max-height:250px;
		background: $light-background;
		margin-bottom: 40px;

		.mission-header {
			> div {
				height:40px;
				padding:4px 15px 0 15px;

				h2 {
					margin:0;
				}
			}

			.mission-number {
				background-color: $light-background;
				color: $dark-background;
			}

			.mission-title {
				flex-grow: 1;
				background-color: $dark-background;
				color: #fff;
			}

			.mission-date {
				background-color: #FF4D4D;
				color: #fff;
			}
		}

		.mission-body {
			padding-top: 10px;
			padding-bottom: 10px;

			p.lead:not(:last-of-type) {
				margin-bottom: 5px;
			}
			p.lead:last-of-type {
				margin-bottom:0;
			}
		}

		.mission-footer {
			font-size: 19px;
			font-weight: 300;
  		line-height: 1.4;
  		background-color: #d9d9d9;
  		padding-top:5px;
  		padding-bottom: 5px;

  		a {
  			
  		}
		}
	}
}