.missions {
	.mission-page {
		margin-top: 20px;

		.mission-header {
			position:relative;
			background-color: $medium-light-background;
			.mission-logo {
				display: flex;
				align-items: center;
				margin-left:-15px;
				padding:15px;
				background-color: $medium-background;
			}
			.mission-title {
				flex-grow: 1;
				padding-left: 20px;
				.top-title {
					display: flex;
					margin: 0 -15px 0 -20px;
					background-color: $orange-background;
					h1 {
						flex-grow:1;
						margin:15px 15px 15px 20px;
					}
					.mission-number {
						padding: 18px 15px 15px 15px;
						background-color: $red-background;
			      color: #fff;
			      h2 {
			      	margin: 0;
			      }
			    }
				}
				h3 {
					font-weight: 400;
					&:last-of-type {
						margin-bottom: 20px;
					}
				}
			}
		}

		.mission-body {
			padding-bottom: 20px;
			margin-bottom: 20px;
			background-color: $light-background;
			img {
				margin: 0 10px;
			}

			.image-body {
				display: flex;
				div.gallery_item {
					display: inline-block;
					margin-top: 10px;
					margin-right: 10px;
					.thumbnail {
						margin-bottom: 0;
						img {
							height: 150px;
							margin: 0;
						}
					}
				}
			}
		}
	}

	.mission-form {
		.new-mission-teaser {
			height:250px;
		}

		.new-mission-body {
			height:500px;
		}

		.new-mission-notes {
			height:150px;
		}

		.add-image-tile {
			padding: 10px;
			border: 2px solid $medium-background;
			margin-bottom: 15px;
			.extra-small-image {
				display: inline-block;
				height:50px;
			}
		}
	}
	#hermitage {
		.text {
			margin-top:10px;
			margin-bottom: 10px;
			font-size: 15px;
		}
	}
}