/*$grid-float-breakpoint: 1200px;*/
$dark-background: #262626;
$medium-dark-background: #999999;
$medium-background: #d1d1d1;
$medium-light-background: #ebebeb;
$light-background: #f5f5f5;
$red-background: #FF4D4D;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "global.scss";
@import "partials/*";
@import "font-awesome";
@import "pagedown_bootstrap";