/* Header */
.navbar-default {
	background-color: $dark-background;
	border-radius:none !important;
	-moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border:0;
  margin:0;

  .navbar-brand {
  	color: #FFF;
  	font-size: 38px;
  	font-weight: 900;
  	&:hover, &:focus {
  		color: #FFF;
  	}
  }

  .navbar-nav > li > a {
  	color: #FFF;
  	font-size: 16px;
  	margin-left: 30px;
  	&:hover, &:focus {
  		color: #FFF;
  	}
  }
  .navbar-text {
  	color: #ccc;
    a {
      color: #fff;
      &:hover, &:focus {
        color: #fff;
      }
    }
	}
	.btn-navbar {
		margin-top:10px;
	}
}

.sub-header {
	background-size: cover;
	height:150px;
	color: #FFF;
	display: table;
  text-align: center;
  width:100%;
  margin-bottom: 20px;

  > .sub-header-title {
  	display: table-cell;
    vertical-align: middle;
  }
}

.footer {
  margin-top: 40px;
  background-color: $dark-background;
  .footer-text {
    color: #ccc;
    font-size: 16px;
    margin:15px 0 16px 0;
  }
}


/* Typography */
h1 {
	font-weight: 900;
}
.main-content {
  p, ul > li, ol > li {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4;
  }
}
#add-records {
  font-size: 16px;
}

/* Flex */
.flex-container {
	display: flex;
}

/* Floats */
.float-right {
  float:right;
}