<div class="col-xs-12">
	<span class="text-center"><h1>Launch Manifest</h1></span>
</div>

<div class="col-xs-12 text-center sub-title">
	<%= link_to "Upcoming", root_path, class: "#{active_link("missions", "index")}" %> | 
	<%= link_to "Completed", completed_missions_path, class: "#{active_link("missions", "completed")}" %>
</div>